@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --textPrincipal: 'Space Mono', monospace;
    /* Change the firstColor for your favorite color */
    --firstColor: #000;
    /* Change the secondColor for your favorite color */
    --secondColor: #fff;

    /*=== CHANGE IF YOU NEET IT ===*/
    /* Only if you want change the general color */
    --bodyColor: #000;
    /* Footer color */
    --footerColor: #ccc;
}

body{
    font-family: var(--textPrincipal);
    color: var(--bodyColor);
}

/* === PRINCIPAL CONTAINER === */
.principalContainer{
    display: grid;
    grid-template-areas:
    "." 
    "logotype"
    "title" 
    "social"
    "footer";
}

/* === LOGOTYPE === */
.container__logotype{
    grid-area: logotype;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.logotype__img{
    height: 150px;
}

.logotype__img img{
    height: 150px;
    width: 150px;
}

/* If u want the image circle */

/* .container__logotype img{
    border-radius: 50%;
} */

/* === TITLE === */
.container__title{
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 5% 0 5% 0;
}

.container__title .autotype{
    font-weight: bold;
    font-style: normal;
    color: var(--firstColor);
}

/* === SOCIAL NETWORK === */
.container__social{
    grid-area: social;
}

.social__reusableBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    letter-spacing: .2rem;
}

.boxGeneral{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.boxGeneral a{
    text-decoration: none;
}

.general__reply{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxDark{
    background-color: var(--firstColor);
    color: var(--secondColor);
}

.boxDark a{
    color: var(--secondColor);
}

.boxWhite{
    background-color: var(--secondColor);
    color: var(--firstColor);
    border: 3px solid var(--firstColor);
}

.boxWhite a{
    color: var(--firstColor);
}

/* === FOOTER === */
.container__footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid var(--firstColor);
    margin: 7% 8% 0 8%;
    text-align: center;
    font-size: 0.9rem;
}

.footer__copyright{
    margin-top: 5%;
}

.container__footer .footer__copyright .heart{
    display: inline-flex;
    animation-name: beat;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    color: var(--firstColor);
}

@keyframes beat {
    0% {
        transform: scale(0.9);
    }
    5% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(0.9);
    }
}

.footer__icon{
    margin-top: 1%;
    font-size: 1.1rem;
}

.icon-hover{
    text-decoration: none;
    color: var(--footerColor);
    transition: .5s;
}

.icon-hover:hover{
    color: var(--firstColor);
}

/* ==================== MEDIA QUERY ==================== */
/* ==================== MEDIA QUERY ==================== */
/* ==================== MEDIA QUERY ==================== */

/* == MEDIA 600 PX == */
@media (min-width: 600px){

    /* === LOGOTYPE === */
    .container__logotype{
        margin-top: 7%;
    }

    .logotype__img{
        height: 180px;
    }
    .logotype__img img{
        height: 180px;
        width: 180px;
    }

    /* === FOOTER === */
    .container__footer{
        margin: 6% 17% 0 17%;
        font-size: 1rem;
    }
}


/* == MEDIA 768 PX == */
@media (min-width: 768px){

    /* === LOGOTYPE === */
    .container__logotype{
        margin-top: 5%;
    }

    .logotype__img{
        height: 200px;
    }
    .logotype__img img{
        height: 200px;
        width: 200px;
    }

    /* === TITLE === */
    .container__title{
        margin: 3% 0 3% 0;
    }

    /* === FOOTER === */
    .container__footer{
        margin: 6% 23% 0 23%;
        font-size: 1.1rem;
    }

    .footer__icon{
        font-size: 1.3rem;
    }
}


/* == MEDIA 970 PX == */
@media (min-width: 970px){

    /* === LOGOTYPE === */
    .container__logotype{
        margin-top: 3%;
    }

    .logotype__img{
        height: 225px;
    }

    .logotype__img img{
        height: 225px;
        width: 225px;
    }

    /* === TITLE === */
    .container__title{
        margin: 3% 0 3% 0;
    }

    /* === SOCIAL NETWORK === */
    .boxDark{
    transition: 0.6s;
    }

    .boxDark a{
        transition: 0.5s;
    }

    .boxDark a:hover{
        font-size: 1.1rem;
    }

    .boxWhite{
        transition: 0.6s;
    }

    .boxWhite a{
        transition: 0.5s;
    }

    .boxWhite:hover{
        background-color: var(--firstColor);
    }

    .boxWhite a:hover{
        color: var(--secondColor);
        font-size: 1.1rem;
    }

    /* === FOOTER === */
    .container__footer{
        margin: 6% 30% 0 30%;
        font-size: 1rem;
    }

    .footer__icon{
        font-size: 1.4rem;
    }
}


/* == MEDIA 1200 PX == */
@media (min-width: 1200px){

    .logotype__img{
        height: 200px;
    }

    .logotype__img img{
        height: 200px;
        width: 200px;
    }

    /* === TITLE === */
    .container__title{
        margin: 1.5% 0 1.5% 0;
    }

    /* === FOOTER === */
    .container__footer{
        margin: 3% 33% 0 33%;
        font-size: 1rem;
    }

    .footer__icon{
        font-size: 1.4rem;
    }
}

/* == MEDIA 1600 PX == */
@media (min-width: 1600px){

    /* === LOGOTYPE === */
    .container__logotype{
        margin-top: 3%;
    }

    .logotype__img{
        height: 200px;
    }

    .logotype__img img{
        height: 200px;
        width: 200px;
    }

    /* === TITLE === */
    .container__title{
        margin: 1.5% 0 1.5% 0;
        font-size: 1.3rem;
    }

    /* === FOOTER === */
    .container__footer{
        margin: 3% 38% 0 38%;
        font-size: 1rem;
    }

    .footer__icon{
        font-size: 1.4rem;
    }
}